$black: #333333;
$white: #ffffff;

//オレンジ系
$orange: #F85E22;
$orange-light: #F8A522;
$pale-orange: #fff1d0;

//青系
$dark-blue: #2860aa;
$blue: #A2B6B9;

// 灰色系
$dark-grey:#F1F1F1;
$gray: #F8F8F8;

// 赤系
$red: #E83E4D;
$pink: #FFECEC;

$box-shadow: 0 0px 20px rgba(0, 0, 0, 0.06);
