@charset "UTF-8";
@font-face {
  font-family: "nsjp";
  font-weight: 400;
  src: url("../../fonts/NotoSansCJKjp-Regular.woff") format("woff");
}

@font-face {
  font-family: "nsjp";
  font-weight: 700;
  src: url("../../fonts/NotoSansCJKjp-Bold.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body {
  font-family: sans-serif;
}

a {
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
}

/* for responsive */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: .01ms !important;
            animation-duration: .01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: .01ms !important;
            transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}

[hidden] {
  display: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul,
ol {
  list-style: none;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.6px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

img {
  width: 100%;
  height: 100%;
}

p {
  line-height: 2.5;
}

h2 {
  font-family: garamond-premier-pro, serif;
  font-size: 4.5rem;
  font-weight: normal;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 20px;
}

a:focus {
  outline: none;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 0 33px;
  }
}

@media screen and (max-width: 768px) {
  .sp-br {
    display: block;
  }
}

@media screen and (max-width: 660px) {
  .sp-l-br {
    display: block;
  }
}

@media screen and (max-width: 515px) {
  .sp-s-br {
    display: block;
  }
}

.pc-br {
  display: block;
}

@media screen and (max-width: 768px) {
  .pc-br {
    display: inline;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 32px 59px;
  position: fixed;
  z-index: 30;
}

@media screen and (max-width: 768px) {
  header {
    height: 60px;
    padding: 10px 33px;
  }
}

header .logo {
  display: block;
  width: 118px;
}

@media screen and (max-width: 768px) {
  header .logo {
    width: 80px;
  }
}

header .logo img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.header {
  -webkit-transition: all .5s;
  transition: all .5s;
  background: white;
}

.header.change-color {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*==================================================
　5-2-2 2本線が×に
===================================*/
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn {
  /*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
  position: relative;
  width: 33px;
  height: 33px;
  cursor: pointer;
}

/*ボタン内側*/
.openbtn span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 0px;
  height: 1px;
  background-color: #333333;
}

.openbtn span:nth-of-type(1) {
  top: 17px;
  width: 100%;
}

.openbtn span:nth-of-type(2) {
  top: 24px;
  width: 100%;
}

/*activeクラスが付与されると線が回転して×に*/
.openbtn.active span:nth-of-type(1) {
  top: 15px;
  left: 0px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 100%;
}

.openbtn.active span:nth-of-type(2) {
  top: 27px;
  left: 0px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 100%;
}

.header-menu {
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 15;
  background: rgba(255, 255, 255, 0.9);
  width: 13%;
  height: 60%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: ease .5s;
  transition: ease .5s;
  text-align: center;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (max-width: 1024px) {
  .header-menu {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .header-menu {
    width: 40%;
  }
}

.header-menu .menu-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.header-menu li {
  margin-bottom: 15%;
}

.header-menu.open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

footer {
  border-top: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-top: auto;
}

footer .logo {
  display: block;
  width: 100px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  footer .logo {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer .logo img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

footer .footer-access {
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  footer .footer-access {
    text-align: center;
  }
}

footer .menu-menu-container {
  margin-top: 40px;
}

footer .menu-menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  footer .menu-menu-container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .menu-menu-container ul li {
  margin-right: 40px;
}

@media screen and (max-width: 768px) {
  footer .menu-menu-container ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

footer .menu-menu-container ul li:last-child a {
  color: #A2B6B9;
}

footer small {
  display: block;
  margin-top: 30px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  footer small {
    text-align: center;
  }
}

.sub-header {
  padding-top: 100px;
}

.sub-header .sub-header-image {
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .sub-header .sub-header-image {
    height: 200px;
  }
}

.sub-header .sub-header-image img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
}

.start {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
}

.start p {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 280px;
}

@media screen and (max-width: 460px) {
  .start p {
    width: 200px;
  }
}

.page-top {
  width: 54px;
  height: 54px;
  position: fixed;
  right: 33px;
  bottom: 33px;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .page-top {
    width: 37px;
    height: 37px;
    right: 15px;
    bottom: 15px;
  }
}

.fv {
  padding: 33px;
  padding-top: 0;
  height: calc(100vh - 0px);
  padding-top: 100px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .fv {
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
  }
}

.fv .fv-logo {
  position: absolute;
  width: 15%;
  top: calc(50% - 20px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {
  position: relative;
  z-index: 1;
  height: calc(100vh - 133px);
}

.slick-list {
  overflow-x: hidden;
}

.slick-slide img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*　背景画像設定　*/
.slider-item {
  height: calc(100vh - 133px) !important;
}

@media screen and (max-width: 768px) {
  .slider-item {
    height: calc(100vh - 60px) !important;
  }
}

.slider-item01 {
  background: url(../img/img_01.jpg);
}

.slider-item02 {
  background: url(../img/img_02.jpg);
}

.slider-item03 {
  background: url(../img/img_03.jpg);
}

.slider-item {
  width: 100%;
  /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  height: 100vh;
  /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;
  /*背景画像をリピートしない*/
  background-position: center;
  /*背景画像の位置を中央に*/
  background-size: cover;
  /*背景画像が.slider-item全体を覆い表示*/
}

/*ドットナビゲーションの設定*/
.slick-dots {
  position: relative;
  z-index: 3;
  text-align: center;
  margin: -50px 0 0 0;
  /*ドットの位置*/
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #fff;
  /*ドットボタンの色*/
}

.slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}

/*==================================================
newsスライダー
===================================*/
.top-news .container {
  position: relative;
  z-index: 0;
}

.top-news .container:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  width: 150%;
  height: 60%;
  background: #F8F8F8;
  z-index: -1;
  left: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.top-news {
  overflow: hidden;
  padding: 150px 0;
  padding-bottom: 200px;
}

.top-news .inner {
  margin: 0 auto;
  width: 73%;
  padding-left: 4rem;
  padding-right: 4rem;
}

@media screen and (max-width: 768px) {
  .top-news .inner {
    width: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.top-news .news-wrap {
  position: relative;
}

.top-news .news-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-news .news-slider li {
  margin-right: 4vw;
  width: 12.5vw !important;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

@media screen and (max-width: 1400px) {
  .top-news .news-slider li {
    width: 16.5vw !important;
  }
}

@media screen and (max-width: 768px) {
  .top-news .news-slider li {
    width: 25.5vw !important;
  }
}

@media screen and (max-width: 460px) {
  .top-news .news-slider li {
    width: 42.5vw !important;
    margin-right: 8vw;
  }
}

.top-news .news-slider li:hover {
  opacity: 0.6;
}

.top-news .news-slider li p {
  line-height: 1.5;
}

.top-news .news-slider img {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  width: 12.5vw !important;
  height: 12.5vw;
}

@media screen and (max-width: 1400px) {
  .top-news .news-slider img {
    width: 16.5vw !important;
    height: 16.5vw;
  }
}

@media screen and (max-width: 768px) {
  .top-news .news-slider img {
    width: 25.5vw !important;
    height: 25.5vw;
  }
}

@media screen and (max-width: 460px) {
  .top-news .news-slider img {
    width: 42.5vw !important;
    height: 42.5vw;
  }
}

.top-news .slick-list {
  overflow: visible;
}

.top-news .slick-nav-arrows {
  display: block;
  right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  padding-bottom: 25px;
}

.top-news .slick-nav-arrows .slick-next:before {
  content: '';
  display: block;
  background: url(../../images/common/next.png);
  width: 25px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.top-news .slick-nav-arrows .slick-prev:before {
  content: '';
  display: block;
  background: url(../../images/common/prev.png);
  width: 25px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.top-news .slick-prev, .top-news .slick-next {
  position: initial;
  z-index: 3;
  cursor: pointer;
  outline: none;
  border-top: none;
  border-right: none;
  height: 25px;
  width: 25px;
}

.top-news .slick-prev {
  margin-right: 60px;
}

.top-news .slick-next {
  margin-left: 60px;
}

.top-news .slick-next:before, .top-news .slick-prev:before {
  color: #333;
  font-family: none;
}

.news-category {
  font-weight: bold;
  margin-bottom: 5px;
}

.news-date {
  font-weight: bold;
  margin-bottom: 5px;
}

.news-more {
  font-family: garamond-premier-pro, serif;
  width: 103px;
  height: 103px;
  background: #A2B6B9;
  color: #ffffff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: -40px;
  right: 0;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.news-more:hover {
  opacity: 0.7 !important;
}

@media screen and (max-width: 1400px) {
  .news-more {
    margin-right: 33px;
  }
}

@media screen and (max-width: 460px) {
  .news-more {
    width: 63px;
    height: 63px;
    font-size: 1rem;
  }
}

.top-about {
  padding: 170px 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  text-align: center;
  background-position: bottom;
  z-index: 0;
}

.top-about .bg {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.top-about .bg .simpleParallax {
  height: 100%;
}

.top-about .bg img {
  -o-object-fit: cover;
     object-fit: cover;
}

.top-about:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  opacity: 0.4;
  z-index: -1;
}

.top-about h2 {
  margin-bottom: 80px;
}

.top-about .main-message {
  font-size: 1.8rem;
  line-height: 3;
  font-weight: bold;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .top-about .main-message {
    font-size: 1.6rem;
  }
}

.top-about .main-message:after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background: #333333;
  margin: 0 auto;
  margin-top: 50px;
}

.top-about .sub-message {
  line-height: 3;
  margin-bottom: 30px;
}

.top-brands {
  padding: 130px 0;
  padding-top: 250px;
  position: relative;
  z-index: 0;
}

.top-brands:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #F8F8F8;
  z-index: -1;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 768px) {
  .top-brands:after {
    width: 70%;
  }
}

.brands-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .brands-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.brands-wrap {
  width: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5%;
  border-left: 1px solid #C9C9C9;
}

@media screen and (max-width: 768px) {
  .brands-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-left: none;
  }
}

.brands-wrap li {
  text-align: left;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .brands-wrap li {
    width: 50%;
  }
}

.brands-wrap li img {
  width: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1400px) {
  .brands-wrap li img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .brands-wrap li img {
    width: 70%;
  }
}

.tab {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px;
  list-style: none;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.tab:hover {
  opacity: 1;
}

.brands-contents {
  width: 75%;
}

@media screen and (max-width: 768px) {
  .brands-contents {
    width: 100%;
  }
}

.brands-contents .brand-name {
  font-family: garamond-premier-pro, serif;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .brands-contents .brand-name {
    font-size: 1.8rem;
  }
}

.brands-content {
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 13%;
}

@media screen and (max-width: 768px) {
  .brands-content {
    padding-right: 0;
  }
}

.brands-content img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (max-width: 768px) {
  .brands-content img {
    height: 300px;
  }
}

.tab.is-active {
  opacity: 1;
  color: #FFF;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.brands-content.is-show {
  display: block;
}

.top-profile {
  padding: 150px 0;
}

.profile-block dl {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px;
  border-bottom: 1px solid #C9C9C9;
}

@media screen and (max-width: 768px) {
  .profile-block dl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.profile-block dl dt {
  width: 20%;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .profile-block dl dt {
    margin-bottom: 5px;
    width: 100%;
  }
}

.profile-block dl dd {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .profile-block dl dd {
    width: 100%;
  }
}

.map {
  width: 100%;
  margin-top: 70px;
}

.map iframe {
  width: 100%;
  height: 300px;
}

.map iframe,
.map object,
.map embed {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.top-contact-btn {
  margin-top: 70px;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #A2B6B9;
  color: #ffffff !important;
  font-size: 2rem;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

@media screen and (max-width: 768px) {
  .top-contact-btn {
    font-size: 1.6rem;
  }
}

.top-contact-btn:hover {
  opacity: 0.7 !important;
}

.top-contact-btn:after {
  content: '';
  display: block;
  position: absolute;
  right: 40px;
  top: 50px;
  background: url(../../images/common/contact-arrow.png);
  width: 23px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}

.news-article {
  padding-bottom: 100px;
}

.pagination .news-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pagination .news-wrap ul li {
  width: 30%;
}

.pagination .news-wrap ul li img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.news-article-item .news-article-title-wrap h3 {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px 0;
  border-bottom: 1px solid #333333;
}

.news-article-btn-wrap {
  text-align: right;
  margin-top: 30px;
}

.news-article-btn-wrap a {
  padding: 6px 20px;
  border-radius: 50%;
  background: #A2B6B9;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .news-article-btn-wrap a {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 460px) {
  .news-article-btn-wrap a {
    width: 50px;
    height: 50px;
  }
}

button, input, optgroup, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

input[type="text"], input[type="date"], input[type="tel"], input[type="email"], textarea {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.25em;
}

input[type="radio"] {
  -webkit-appearance: radio;
}

.contact-wrap {
  padding: 10% 20%;
  background: #fff;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .contact-wrap {
    padding: 10% 10%;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form dt {
  width: 30%;
}

.contact-form dd {
  width: 70%;
  margin-bottom: 30px;
}

.mandatory {
  color: #fff;
  background-color: #A2B6B9;
  padding: 1px 7px;
  margin-left: 5%;
  font-size: .8rem;
}

.name-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.your-lastname, .your-name, .your-lastname-kana, .your-name-kana {
  width: 30%;
  margin-right: 2%;
}

.wpcf7-form-control-wrap input, .wpcf7-form-control-wrap textarea {
  width: 100%;
  background-color: #efefef;
  padding: 7px 10px;
}

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-choice {
  margin-bottom: 20px;
}

.choice ul li {
  margin-right: 10px;
}

.choice-date, .choice-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wpcf7-select {
  background-color: #efefef;
  padding: 7px 10px;
  border-radius: 3px;
}

.send {
  text-align: center;
}

.send input {
  border: none;
  background-color: #A2B6B9;
  color: #fff;
  font-weight: bold;
  padding: 20px 70px;
  border-radius: 5px;
  font-size: 1.5rem;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  width: 50%;
  margin-top: 30px;
}

.send input:hover {
  opacity: .7;
}

.wpcf7-form-control-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wpcf7-list-item {
  width: 100%;
}

.wpcf7-list-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wpcf7-list-item label input {
  width: 10%;
}

.wpcf7-list-item label .wpcf7-list-item-label {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .fv-catch-wrap img {
    width: 95vh;
  }
  .fv-wrap-slide1 {
    height: 75vh;
  }
}

@media screen and (max-width: 1024px) {
  .contact-btn-txt .tell a {
    color: #FF447A;
    margin-right: 5%;
    font-size: 2rem;
  }
  .contact-form {
    display: block;
  }
  .contact-form dt {
    width: 100%;
    margin-bottom: 15px;
  }
  .contact-form dd {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .your-lastname, .your-name, .your-lastname-kana, .your-name-kana {
    width: 45%;
  }
  .send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .send input {
    width: auto;
    margin: 0 auto;
  }
  .contact {
    padding-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .send input {
    width: 100%;
    padding: 5% 0;
  }
}
/*# sourceMappingURL=style.css.map */